{% extends 'base.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <section id="app-content">

        <div class="content-body">
            <div class="page-header">
                <div class="box-layout">
                    <div class="col-xs-5 col-sm-6 col-md-5 va-m">
                        <h3 class="pull-left">DASHBOARD</h3>
                    </div>
                </div>
            </div>
            <div class="panel panel-default bdr-t-wdh-0 mb-0">
                <div class="panel-body">
                    <div class="box-layout">
                    </div>
                </div>
            </div>

        </div>

    </section>
{% endblock %}