<footer id="app-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 text-muted">&copy; 2022 Democratic Republic of Congo</div>
            <div class="col-xs-6 text-muted text-right small">v2.10</div>
        </div>
    </div>
</footer>