{% extends 'base.html.twig' %}

{% block title %}
    visa applications
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <section id="app-content">
        <div class="content-body">
            <div class="page-header">
                <div class="box-layout">
                </div>
            </div>
        </div>
    </section>
{% endblock %}